$primary-color: #eee;
$secondary-color: #444;
$third-color: rgb(190, 190, 190);

@mixin easeOut {
  transition: all 0.3s ease-out;
}

@keyframes reveal {
  0% {
    opacity: 0;
    transform: translateY(60%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@function set-text-color($color) {
  @if (lightness($color) > 40) {
    @return $secondary-color;
  } @else {
    @return $primary-color;
  }
}
