@import "config";
@import "menu";
@import "mobile";
// Home
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  height: 100vh;
  width: 100%;
  overflow: hidden;
  overflow-x: hidden;
  position: relative;
  background: rgb(223, 219, 219);

  header {
    &.rest {
      height: 15%;
      color: #000;
      position: relative;
      background-color: #eee;

      #benu-btn {
        height: inherit;
        position: fixed;
        display: flex;
        align-items: center;
        padding-left: 1rem;
        a {
          text-decoration: none;
          color: #000;
        }
      }
      .page-title {
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        border-bottom: 1px solid #000;
      }
    }
  }

  &#bg-image {
    background: url(../img/background1.jpg);
    background-position: center;
    background-size: cover;
  }

  #icons {
    position: fixed;
    top: 35px;
    right: 100px;
    z-index: 4;

    a {
      padding-right: 1.5rem;
      color: #eee;

      &:hover {
        color: $secondary-color;
      }
    }
  }

  #text {
    h1 {
      margin: 0;
      padding: 0;
      position: absolute;
      font-size: 7rem;
      left: 10%;
      top: 40%;
      color: #eee;
      opacity: 0;
      transform: translateY(50px);
      transition: 0.7s all ease-in-out;
      animation: reveal 1.5s cubic-bezier(0, 0, 0, 1) 1 normal forwards;
    }
  }
}

// About

#about {
  height: 85%;
  .container {
    display: flex;
    padding: 2rem;
    .about-image {
      width: 50%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      .img-selected {
        width: 30rem;
        height: 25rem;
      }

      .img-preview {
        margin-top: 0.2rem;
        display: flex;
        width: 30rem;

        img {
          cursor: pointer;
          opacity: 0.6;
          width: 100px;
          flex-grow: 1;

          &.img-active {
            opacity: 1;
          }

          &:hover {
            opacity: 1;
          }
        }
      }
    }
    .about-text {
      animation: reveal 1.5s cubic-bezier(0, 0, 0, 1) 1 normal forwards;
      width: 50%;
      padding: 4rem;
      line-height: 2.2rem;
    }
  }
}

// Team

#team {
  height: 85%;
  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
  padding-top: 1.5rem;

  .img-slider {
    display: grid;
    grid-template-areas:
      "team-img team-title"
      "team-text team-text";
    grid-template-columns: repeat(2, 1fr);

    .team-img {
      display: flex;
      align-items: center;
      justify-content: center;
      img {
        width: 70%;
        background-size: cover;
        background-position: center;
      }
    }

    .team-title {
      grid-area: team-title;
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
    }

    .team-text {
      padding: 0 5rem;
      grid-area: team-text;
      line-height: 1.7rem;
      animation: reveal 1.5s cubic-bezier(0, 0, 0, 1) 1 normal forwards;
    }
  }

  .arrow {
    display: flex;
    align-items: center;
    justify-content: center;

    .fa-arrow-right {
      z-index: 3;
    }
  }
}

// Contact

#contact {
  height: 85%;
  display: grid;
  grid-template-columns: 1fr 1fr;

  .map {
    display: flex;
    justify-content: center;
    align-items: center;

    #map {
      height: 80%;
      width: 80%;
    }
  }

  .contact-text {
    width: 80%;
    height: 80%;
    padding: 2.5rem;

    .contact-lg {
      margin: 1rem 0;
      text-transform: uppercase;
      font-size: 1.2rem;
    }

    .contact-sm {
      line-height: 1.7rem;
    }
  }
}
